<div>
    <form method="post" action="/cookies/setCookies">
        <label for="name">nombre</label>
        <input placeholder="name" name="name" id="name">
        <link rel="icon" href="../../../public/imgs/Buitre_01.jpg" />
        <label for="correo">correo electronico</label>
        <input placeholder="correo electronico" name="correo" id="correo">
        <button id="getCookies">getCookies</button>
        <button type="submit">set cookie</button>
        
    </form>
</div>

<script src="/js/cookies.js"></script>