<link rel="icon" href="../../../public/imgs/Buitre_01.jpg" />
<h1>Welcome</h1>
<div>
  <a href="http://localhost:8080/login">Login</a>
  <a href="http://localhost:8080/register">Register</a>
  <a href="http://localhost:8080/profile">Profile</a>

</div>

<script src="/socket.io/socket.io.js"></script>